h1{
    text-align: center;
    color:goldenrod;

}
.elements{
    font-size: 30px;
    font-family: "Helvetica";
}
#single{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif}
body {
    background-color:aquamarine
}

p{
    margin: 35px;
}
h3{
    margin: 20px;
}

.gamestyle{
    margin: 5%;
    padding: 5%;
    border-style: double;
}